<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My projects and skills</title>

    <style>
    </style>

    <body>
        <h1>My projects and skills</h1>    
    </body>
  </head>
</html>
