<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>My projects and skills</title>

    <%- include("fonts"); %>

    <body>
        <h1>My projects and skills</h1>
        <a href="skills-it">Italiano</a>
        <a href="skills-en">English</a>
        <%- include("footer"); %>
    </body>
  </head>
</html>
